rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /attendanceLinks/{token} {
      allow read, write: if true;
    }

    match /attendanceRecords/{recordId} {
      allow read, write: if true;
    }
  }
}
